::after,
::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0px;
    font-family: "Ubuntu", sans-serif;
}
a{
    text-decoration: none;
    color:inherit
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
.container{
    max-width: 1800px;
    padding: 0 15px;
    margin: 0;
}

.container h2{
    font-weight: normal;
}

.header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #5F6368;
}
.header-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
}
.header-line div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-logo{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    cursor: pointer;
}
.header-logo span{
    font-weight: 600;
    font-size:25px;
}
.header-logo svg{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    padding-bottom: 15px;
}
.header-logo:hover svg{
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}
.button:hover{
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #185abc;
}
.button{
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    user-select: none;
    background-color: #1A73E8;
    padding: 10px 22px;
    outline: none;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s,box-shadow .2s,color .2s,-webkit-box-shadow .2s;
    font-style: normal;
}
.alt-button:hover{
        background-color: #f6f9fe;
        border-color: #1a73e8;
        color: #174ea6;
}

.alt-button{
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    user-select: none;
    background-color: #FFFFFF;
    padding: 10px 48px;
    outline: none;
    color: #1A73E8;
    border: 1px solid #DADCE0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s,box-shadow .2s,color .2s,-webkit-box-shadow .2s;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}
.right svg{
    margin-right: 15px;
}

.header-line nav a{
    padding-left: 10px;
}

.header-line nav {
    margin:0px 0px 0px 125px;
}

.header-line nav .active{
    color: #1a73e8;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
}
.hero-wrapper{
    display: grid;
    grid-template-columns: repeat(12,minmax(5px,1fr));
    margin: 80px auto;
    margin: 80px auto 0px auto;
    max-width: 1296px;
}
.hero-content h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: normal;
    color: #202124;
}
.hero-content{
    text-align: left;
    grid-column-end: span 5;
    line-height: 28px;
    font-size: 20px;
}
.hero-wrapper img{
    align-self: center;
}
.hero-buttons{
    display: grid;
    text-align: center;
    gap: 15px;
}
.see-more{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: initial;
    line-height: 24px;
    text-align: center;
    display:grid;
}
.see-more a{
    color: #5f6368;
    display: inline-grid;
}
.see-more .icon{
    fill: #5f6368;
    height: 30px;
    margin: 0 auto;
    width: 30px;
}

.features-wrapper{
    display: grid;
    grid-template-columns: repeat(12,minmax(5px,1fr));
    margin: 80px auto 0px auto ;
    max-width: 1296px;
}
.features-content h2{
    font-size: 60px;
    line-height: 72px;
    font-weight: normal;
    color: #202124;
}
.imgleft .features-content{
    order: 2;
}
.features-content{
    grid-column-end: span 5;
    line-height: 28px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #5F6368;
    padding-top: 25%;
}
.features-content li{
    color: #588af5
}
.features-content small{
    font-size: 11px;
}

.imgleft img{
    grid-column-end: span 7;
    order: 1;
}
.features-wrapper img{
    align-self: center;
}
.features-wrapper .danger-img{
    padding-top:40%;
}
.features-wrapper .trade-img{
    object-fit: cover;
height: 150%;
padding-right: 150px;
max-width: 750px;
}
.nomargin{
    margin: 0px auto;
}
.get-started{
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 42px;
    font-weight: normal;
    color: #202124;
    background-image:url(../images/geometry_path.svg);
    background-repeat: no-repeat;
    background-size: 75%;
}
.get-started-buttons{
    margin-top: 36px;
    display: inline-flex;
    text-align: center;
    gap: 15px;
}

.contribute{
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 42px;
    font-weight: normal;
    color: #202124;
    padding-top:100px;
}

